<ion-header>
  <ion-toolbar color="tertiary">
      <ion-button float-left (click)="goBackStart()" color="tertiary"><ion-icon slot="icon-only" name="arrow-back"></ion-icon></ion-button>
      <!-- <ion-button float-right (click)="moveForward()" color="tertiary"><ion-icon name="arrow-round-forward"></ion-icon></ion-button> -->
      <ion-title  text-center>Sum-Quiz-Signin</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
 
  
  <ion-grid class="form-container">
    <ion-row>
      <ion-col size-md="6" offset-md="3">
        <form [formGroup]="signupForm">
            <ion-card color="tertiary">
              <ion-card-header>
                  <ion-card-title text-center>SignUp Here! </ion-card-title>
              </ion-card-header>
                <ion-card-content>
                  <ion-item color="dark">
                      <div class="form-group">
                          <ion-input type="text" formControlName="firstname" placeholder="Enter First Name" class="form-control"></ion-input>
                       </div>
                      
                  </ion-item>
 <!-- Error Message for First Name-->
                  <div class="error-messages">
                      <ng-container *ngFor="let error of error_message.firstname">
                        <div class="error-message" *ngIf="signupForm.get('firstname').hasError(error.type) && (signupForm.get('firstname').dirty || signupForm.get('firstname').touched)">
                          {{ error.message }}
                        </div>
                      </ng-container>
                  </div>
                    
                 <ion-item color="dark">
                      <div class="form-group">
                          <ion-input type="text" formControlName="lastname" placeholder="Enter last Name" class="form-control" ></ion-input>
                       </div>
                  </ion-item>
 <!-- Error Message for Last Name-->                   
                  <div class="error-messages">
                    <ng-container *ngFor="let error of error_message.lastname">
                      <div class="error-message" *ngIf="signupForm.get('lastname').hasError(error.type) && (signupForm.get('lastname').dirty || signupForm.get('lastname').touched)">
                        {{ error.message }}
                      </div>
                    </ng-container>
                  </div>
                  
                  <ion-item color="dark">
                        <ion-label>Gender</ion-label>
                        <ion-select formControlName="gender" placeholder="Select One">
                          <ion-select-option  value="f">Female</ion-select-option>
                          <ion-select-option  value="m">Male</ion-select-option>
                        </ion-select>
                    </ion-item>
                    
<!-- Error Message for gender-->
                <div class="error-messages">
                    <ng-container *ngFor="let error of error_message.gender">
                      <div class="error-message" *ngIf="signupForm.get('gender').hasError(error.type) && (signupForm.get('gender').dirty || signupForm.get('gender').touched)">
                        {{ error.message }}
                      </div>
                    </ng-container>
                </div>

                  <ion-item color="dark">
                        <ion-input formControlName="age" placeholder="Enter your age" type="number"></ion-input>
                    </ion-item>
<!-- Error Message for age-->
                  <div class="error-messages">
                      <ng-container *ngFor="let error of error_message.age">
                             <div class="error-message" *ngIf="signupForm.get('age').hasError(error.type) && (signupForm.get('age').dirty || signupForm.get('gender').touched)">
                                {{ error.message }}
                             </div>
                      </ng-container>
                  </div>

                    <ion-item color="dark">
                        <div class="form-group">
                            <ion-input type="email" formControlName="email" placeholder="someone@mail.com" class="form-control" ></ion-input>
                         </div>
                    </ion-item>
<!-- Error Message for email-->
                  <div class="error-messages">
                    <ng-container *ngFor="let error of error_message.email">
                           <div class="error-message" *ngIf="signupForm.get('email').hasError(error.type) && (signupForm.get('email').dirty || signupForm.get('email').touched)">
                              {{ error.message }}
                           </div>
                    </ng-container>
                </div>
                   
                    <ion-item color="dark">
                        <div class="form-group">
                            <ion-input type="password" formControlName="password" placeholder="Choose your password" class="form-control"  ></ion-input>
                        </div> 
                    </ion-item> 

<!-- Error Message for password-->
            <div class="error-messages">
                  <ng-container *ngFor="let error of error_message.password">
                    <div class="error-message" *ngIf="signupForm.get('password').hasError(error.type) && (signupForm.get('password').dirty || signupForm.get('password').touched)">
                      {{ error.message }}
                    </div>
                  </ng-container>
            </div>
          </ion-card-content>
      </ion-card>

              <div class="form-group" text-center>
                  <ion-button (click)="signup()" text-center [disabled]="!signupForm.valid" color="tertiary" expand="block" shape="round">Register</ion-button>
              </div>
                <div class="redirect-login" text-center>
                        <h5 class="redirect-text" text-center>Already have an account? <ion-button (click)="login()" color="tertiary">Log in</ion-button></h5>
                 </div>
          </form>

    </ion-col>
  </ion-row>
  
  </ion-grid>
</ion-content>