
<ion-header>
  <ion-toolbar color="tertiary">
    <ion-button slot="start" (click)="goBackAvatar()" color="tertiary"><ion-icon slot="icon-only" name="arrow-back"></ion-icon></ion-button>
    <ion-title text-center>Quiz-App</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid padding>
    <ion-row>
      <ion-col size-md="8"  offset-md="2">
        <ion-card text-center color="tertiary">
        <ion-card-header >
              <div padding class="qus-title">
                  <ion-card-title class="ion-text-uppercase ion-text-{nowrap}" >{{quesData.qusTitle}}</ion-card-title>
              </div>       
              <div padding class="qus-subtitle">
                  <ion-card-subtitle>{{quesData.qusSubTitle}}</ion-card-subtitle>
              </div>   
          </ion-card-header>
          <ion-card-content>
            <div class="qus-option">
              <button class="btn-options" appHighlight [isCorrectOption] = "option.isRight" *ngFor="let option of quesData.option">{{option.optionText}}</button>
             </div>

          <ion-button color="tertiary" float-left  (click)="getPreviousQuestion(quesData.qid)" *ngIf="quesData.qid!=1">BACK</ion-button>
            <ion-button color="tertiary" float-right (click)="getNextQuestion(quesData.qid)" *ngIf="quesData.qid!=10" >NEXT</ion-button>
          </ion-card-content>
        </ion-card>
        
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>