<ion-header>
  <ion-toolbar color="tertiary">
      <ion-button slot="start" (click)="goBackAvatar()" color="tertiary"><ion-icon slot="icon-only" name="arrow-back"></ion-icon></ion-button>
      <ion-title class="ion-text-center">Quiz-App</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="quiz-container" padding>
    <ion-row>
      <ion-col size-md="8"  offset-md="2" >
        <ion-card text-center color="tertiary">
        <ion-card-header >
              <div padding class="qus-title">
                  <ion-card-title class="ion-text-uppercase ion-text-{nowrap}" >{{quesData.qusTitle}}</ion-card-title>
              </div>       
              <div padding class="qus-subtitle">
                  <ion-card-subtitle>{{quesData.qusSubTitle}}</ion-card-subtitle>
              </div>   
          </ion-card-header>
          <ion-card-content>
            <div class="qus-option">
              <button ion-button  class="btn-options" [disabled]="option.selected"
               appHighlight [isCorrectOption] = "option.isRight" #optionBtn attr.id="btn_{{option.optionId}}_{{quesData.qid-1}}"
               *ngFor="let option of quesData.option" (click)="selectOption(quesData,option.isRight,option.optionId)" >
               {{option.optionText}}
              </button>
            </div>
             <ion-button color="tertiary" float-left (click)="getPreviousQuestion(quesData.qid)" *ngIf="quesData.qid!=1">BACK</ion-button>
            <ion-button color="tertiary" float-right (click)="getNextQuestion(quesData.qid)" *ngIf="quesData.qid!=10" >NEXT</ion-button>
            <ion-button color="tertiary" float-right (click)="getSubmit(quesData.qid)" *ngIf="quesData.qid==10" >SUBMIT</ion-button>

          </ion-card-content>
        </ion-card>
        
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>